* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #1e90ff;
    padding: 20px 0;
    text-align: center;
    color: white;
    box-shadow: 0 2px 5px black
}

header h1 {
    font-size: 2rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

fieldset {
    border: 2px solid #1e90ff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 4px 8px black
}

input[type="text"] {
    width: 250px;
    padding: 8px;
    margin: 5px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}
input[type=text]::-webkit-inner-spin-button, 
input[type=text]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="text"]:focus {
    border-color: #1e90ff;
    outline: none;
}

input[type="text"].valid {
    border-color: green;
    color: green;
}

input[type="text"].invalid {
    border-color: red;
    color: red;
}

input[type="number"].valid {
    border-color: green;
    color: green;
}

input[type="number"] {
    width: 100px;
    padding: 8px;
    margin: 5px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"]:focus{
    border-color: #1e90ff;
    outline: none; 
}

input[type="number"].invalid {
    border-color: red;
    color: red;
}

#calcubutton {
    text-align: center;
}

#calculate, #localIpBtn {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 4px 8px black
}

#calculate:hover, #localIpBtn:hover {
    background-color: #1263b5;
    transform: scale(1.1); 
    box-shadow: 0 4px 8px black
}

#results {
    width: 80%;
    max-width: 850px;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    font-size: 1rem;
    color: #333;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px black
}
#binaryResults{
 text-align: right;
}

#intResults{
text-align: left;
width: 350px;
}

#results p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
    font-family: 'Fira code', monospace;
}

#results p:first-child {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    color: #1e90ff;

}

#subnetSummary {
     width: 80%;
    max-width: 850px;
    margin: 40px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    font-size: 1rem;
    color: #333;
    display: flex;
    text-align: center;
    flex-direction: column;
    box-shadow: 0 4px 8px black
}

#subnetSummary h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    color: #1e90ff;
}

#subnetSummary p {
   font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
    font-family: 'Fira code', monospace;
}


footer {
    text-align: center;
    padding: 15px;
    background-color: #f0f0f0;
    font-size: 0.9rem;
    color: #666;
    border-top: 1px solid #ddd;
}